# Custom
AtelierSculpt/user_data/saved_custom_ui/*.json
# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.pyc
*.py[cod]
*$py.class
*.cs
auto_load.py
.vscode/
.vscode
.gitignore
debug.log